.ContactUs {
    text-align: left;
    margin-top: -40px; /* Add margin to the top */
    background-image: url(https://th.bing.com/th/id/OIP._korYlBZ99TFSu4SMT0ojQHaFQ?w=296&h=210&c=7&r=0&o=5&dpr=1.5&pid=1.7);
        margin-top: -100px;
    
      
}

.contact-content {
    display: flex;
    align-items: flex-start; /* Align items at the top */
    margin-top: 100px;
}

.toast-wrapper {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.contact-form {
    text-align: left; /* Align form elements to the left */
    padding-left: 250px;
}

.contact-info p {
    margin-bottom: 10px; /* Add space between contact info items */
    padding-left: 50px;
}

.form-group {
    margin-bottom: 20px; /* Add space between form groups */
}

label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add space between labels and inputs */
}

textarea {
    width: 100%; /* Make textarea full width */
}

/* Apply styles to form fields */
input[type="text"],
input[type="email"],
textarea {
    width: 200%; /* Adjust the width as needed */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Style for labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Apply styles to submit button */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Hover effect for submit button */
button[type="submit"]:hover {
    background-color: #0056b3;
}
