.footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    padding: 2px; /* Reduce padding for top and bottom, left and right */
    text-align: center; /* Center align text */
    font-size: 10px; /* Further reduce font size for smaller text */
    padding-top: 50px;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-info, .footer-social {
    flex: 1;
    margin: 2px; /* Reduce margin for a tighter layout */
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 1px; /* Further reduce margin between social media icons */
}

.social-icons li:last-child {
    margin-right: 0; /* Remove margin for the last social media icon */
}

.social-icons a {
    color: #fff; /* Social media icon color */
    font-size: 8px; /* Further reduce icon size for smaller icons */
}
