.home {
  padding-top: 800px; /* Add padding to the top to create space for the fixed header */
  padding-right: 20px; /* Adjust right padding to provide more space for the content */
  padding-left: 20px; /* Adjust left padding to provide more space for the content */

}

.featured-cars {
  max-width: 200%; /* Set maximum width for featured cars container */
  margin: 0 auto; /* Center the container horizontally */
  max-height: 200px; /* Set maximum height for the container */
  position: relative; /* Set the parent container to relative positioning */
}

.overlay-text {
  position: absolute; /* Set the text container to absolute positioning */
  top: 90%; /* Position the text in the middle vertically */
  left: 50%; /* Position the text in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the text */
  
  padding: 20px; /* Add padding around the text */
  border-radius: 5px; /* Add border radius for rounded corners */
  text-align: center; /* Center the text horizontally */
}

.overlay-text p {
  margin: -400px; /* Remove default margin */
  font-size: 30px; /* Set font size */
  font-weight: bold; /* Set font weight */
  color: white; /* Set text color */
  
}

.overlay-text p {
  animation: slideIn 1s ease forwards; /* Apply animation effect */
  opacity: 0; /* Initially hide the text */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px); /* Start position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position */
  }
}

.car2{
display: flex;
padding-top: 100px;

}
.car2 img{
  max-width: 50%;
  }
  
  .featured-cars img {
    max-width: 1500px; /* Set maximum width to 100% of the container */
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Add transition effect on transform */
    max-height: 700px; 
    margin-left: 100px;
  }
  

.makeReservation button {
  background-color: black;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Box shadow */
  cursor: pointer; /* Add hover effect */
  transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Add transition for smooth effect */
  line-height: 0cap; /* Vertically center the text */
}

.makeReservation button:hover {
  background-color: #45a049; /* Darker green background on hover */
  transform: scale(1.05); /* Scale up slightly on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Increase shadow on hover */
}

