.home{
  background-image: url(https://th.bing.com/th/id/OIP._korYlBZ99TFSu4SMT0ojQHaFQ?w=296&h=210&c=7&r=0&o=5&dpr=1.5&pid=1.7);
  margin-top: 50px;
  background-size: auto;
    
  
}


.overlay-text {
  position: absolute; /* Set the text container to absolute positioning */
  top: 90%; /* Position the text in the middle vertically */
  left: 50%; /* Position the text in the middle horizontally */
  transform: translate(-50%, -50%); /* Center the text */
  
  padding: 20px; /* Add padding around the text */
  border-radius: 5px; /* Add border radius for rounded corners */
  text-align: center; /* Center the text horizontally */
}

.overlay-text p {
  margin: -400px; /* Remove default margin */
  font-size: 30px; /* Set font size */
  font-weight: bold; /* Set font weight */
  color: white; /* Set text color */
  
}

.overlay-text p {
  animation: slideIn 1s ease forwards; /* Apply animation effect */
  opacity: 0; /* Initially hide the text */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px); /* Start position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End position */
  }
}

.car2{
display: flex;
padding-top: 100px;

}
.car2 img{
  max-width: 50%;
  }
  
 

.makeReservation button {
  background-color: black;
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Box shadow */
  cursor: pointer; /* Add hover effect */
  transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Add transition for smooth effect */
  line-height: 0cap; /* Vertically center the text */
}

.makeReservation button:hover {
  background-color: #45a049; /* Darker green background on hover */
  transform: scale(1.05); /* Scale up slightly on hover */
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Increase shadow on hover */
}

